@tailwind base;
@tailwind components;
@tailwind utilities;


.text-14 {
    @apply  text-[3cqw] md:text-[0.9cqw] font-inter;
}

.text-16 {
    @apply  text-[3.25cqw] md:text-[1cqw] font-inter;
}

.text-20 {
    @apply text-[3.6cqw] md:text-[1.2cqw]  tracking-wide;
}

.text-24 {
    @apply text-[4cqw] md:text-[1.6cqw] font-inter;
}

.text-32 {
    @apply text-[4.7cqw] md:text-[1.9cqw] font-inter;
}

.text-36 {
    @apply  text-[6cqw] md:text-[2.3cqw] font-semibold font-inter;
}

.header-text {
    @apply text-[10.5cqw] md:text-[4.5cqw] leading-[13cqw]  md:leading-[5.7cqw] font-medium font-inter;
}


.swiper-wrapper {
    padding-bottom: 12cqw;
}

@media (min-width: 768px) {
    .swiper-wrapper {
        padding-bottom: 4cqw;
    }
}


 .swiper-pagination-bullet-active {
    background-color: #003BA4  !important;

}